<main class="main-tab">

    <div class="title-tab">
        <div>MES INFORMATIONS</div>
    </div>

    <div class="body-tab">
        <div class="card-columns">

                <div class="card">
                    <i class="fas fa-pencil-alt update-card" (click)="openUpdateInfosModal(idInfo, null)" placement="bottom" ngbTooltip="Modifier mes informations"></i>
                    <div class="card-body">
                        <h5 class="card-title">Informations personnelles</h5>
                        <div class="card-content">
                            <span class="adress-title text-muted">{{ user?.firstname | titlecase }}</span>
                            <p class="card-line"><b>Prénom : </b>{{ user?.firstname | titlecase }}</p>
                            <p class="card-line"><b>Nom : </b>{{ user?.lastname | titlecase }}</p>
                            <p class="card-line"><b>Adresse email : </b>{{ user?.mail }}</p>
                            <p class="card-line"><b>Téléphone : </b>
                                <span *ngIf="user?.phone">{{ user?.phone }}</span>
                                <span *ngIf="!user?.phone"><a class="visible-link" (click)="openUpdateInfosModal(idInfo, null)">renseignez votre numéro !</a></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="padding-top: 1.8rem;">Sécurité et options</h5>

                        <div class="inline-block" style="text-align: right;" (click)="openUpdateInfosModal(idSecu, null)" placement="bottom" ngbTooltip="Modifier mon mot de passe">

                            <i class="fas fa-pencil-alt update-card" style="padding: 0rem; margin: 0rem;"></i>&nbsp;
                            <p class="card-password">Modifier mon mot de passe</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <i class="fas fa-plus update-card" (click)="openUpdateInfosModal(idAddAdress, null)" placement="bottom" ngbTooltip="Ajouter une adresse"></i>
                    <div class="card-body" *ngIf="adresses?.length > 0">
                        <h5 class="card-title">Adresses</h5>
                        <div class="card-content" *ngFor="let adress of adresses; let i = index">
                            <i class="fas fa-pencil-alt update-card" (click)="openUpdateInfosModal(idAdress, adress)" placement="bottom" ngbTooltip="Modifier mes adresses"></i>
                            <span class="adress-title text-muted">"{{ adress?.name }}"</span>
                            <p class="card-line"><b>N° et voie : </b>{{ adress?.first_line }}</p>
                            <p class="card-line" *ngIf="adress.second_line !== ''"><b>Complément d'adresse : </b>{{ adress?.second_line }}</p>
                            <p class="card-line"><b>Code postal : </b>{{ adress?.post_code }}</p>
                            <p class="card-line"><b>Ville : </b>{{ adress?.town }}</p>
                            <p class="card-line"><b>Pays : </b>{{ adress?.country }}</p>
                            <hr/>
                        </div>
                        <div class="inline-block add-adress" (click)="openUpdateInfosModal(idAddAdress, null)" placement="bottom" ngbTooltip="Ajouter une adresse">
                            <i class="fas fa-plus"></i>&nbsp;
                            <p class="card-line">Ajouter une adresse</p>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="adresses?.length === 0">
                        <h5 class="card-title">Adresses</h5>
                        <div class="inline-block add-adress" (click)="openUpdateInfosModal(idAddAdress, null)">
                            <i class="fas fa-folder-plus"></i>&nbsp;
                            <p class="card-line">Enregistrez votre première adresse !</p>
                            <p class="card-line" style="font-size: 0.7rem; margin-right: 0.2rem;">Nous en aurons besoin pour vous envoyer vos bijoux</p>
                            <i class="far fa-grin-alt" style="font-size: 0.7rem;"></i>
                            <p></p>
                        </div>
                    </div>
                </div>
          
        </div>
    </div>

</main> 