<div>
    <div class="title">
      <h2 id="boutique">Gérer la boutique</h2>
    </div>
    <div class="body">
      <p *ngIf="items">Vous avez <span style="font-weight: 600;">{{items.length}} articles</span> dans votre boutique.</p>
      <div class="inline-block">
        <button type="button" class="btn btn-primary float-right add-article" (click)="openProductUpdateDialog('addArticle')">
          <i class="fas fa-plus"></i>&nbsp;
          <p class="card-line">Ajouter un article</p>
        </button>
      </div>
      <br/>
      <div style="margin-top: 3rem">
        <div class="alert alert-success" id="alert-success" role="alert" *ngIf="updateOk">
          Produit mis à jour !
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-success" id="alert-success" role="alert" *ngIf="addOk">
          Produit créé !
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-success" id="alert-success" role="alert" *ngIf="deleteOk">
          Produit supprimé !
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="col-md-12" style="overflow-x: scroll;" *ngIf="items">
        <div class="smart-table-container">
          <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
        </div>
      </div>
      <p *ngIf="!items" style="color: var(--primary); margin-top: 2rem">Il n'y a pas encore d'article dans votre boutique !</p> 
    </div>
</div>