<main>

    <div id="la-marque">

        <div class="title-body">
            <h2 class="h2_user">La marque</h2>
        </div>

        <div>Adepte du DIY depuis toujours, ce terme n'existait pas encore en France quand ma mère m'apprenait à construire mes bijoux, entre autres, en 1995, à l'aide de perles, de fil de pêche et de coquillages ramassés sur la plage ! 
            <br>Le « Do It Yourself » se prononçait à l'époque « Si tu ne peux pas acheter, construis-le toi-même ! En plus, c'est beaucoup plus marrant ! ».
            <br><br>Mais ce n'est que bien plus tard que je décide de lancer mon auto-entreprise afin de proposer à la vente mes créations. 
            <br><br>Au plus proche de la nature depuis ma tendre enfance, je suis attirée depuis toujours par les matières naturelles. 
            <br>C'est donc tout naturellement que j'ai souhaité élaborer des modèles de bijoux à partir de pierres fines (ou « semi-précieuses »). 
            <br><br>Soyez-en sûrs, toutes mes créations sont réalisées avec patience et amour, dans mon atelier en Essonne. 
            <br>Je produis peu car je travaille seule sur les créations de Kira. Vous pouvez donc être sûrs de ne pas voir beaucoup de personnes porter le même bijou que vous ! 
        </div>

    </div>

</main>