<main>

    <div id="contact">
        <div class="title-body">
            <h2 class="h2_user">CONTACT</h2>
        </div>

        <div class="contact-infos">
            <p>Pour toutes questions, merci d'envoyer un mail à<p>
                <p>
                    <a href="mailto: contact@kira-bijoux.com">contact<i class="fas fa-at" style="font-size: 0.9rem;"></i>kira-bijoux.com
                    </a>
                </p>
            <p>Nous vous répondrons dès que possible !</p>
        <br>
            <i class="fas fa-paper-plane" style="font-size: 1.4rem; color: var(--primary);"></i>
        </div>
    </div>

    <br>

    <hr>

    <div id="footer">
      <a routerLink="/home">Retour à la page d'accueil</a>
    </div>

</main>