<main>

    <div id="livraison">

        <div class="title-body">
            <h2 class="h2_user">LIVRAISON</h2>
        </div>

        <div>Une fois votre commande passée, un mail de confirmation récapitulatif de votre commande vous sera envoyé.
            <br><br>Toute commande est traitée dans un délai de 1 à 5 jours ouvrés. Elle est expédiée en lettre suivie sans assurance par la Poste afin de suivre la traçabilité du colis.
            <br><br>La marque Kira ne peut être tenue responsable des retards, dégradations et pertes du transporteur. Le remboursement n'est donc pas possible.
            <br><br>Le colis est livré à l'adresse de livraison renseignée lors de la commande.
        </div>

    </div>

    <br>

    <hr>

    <div id="footer">
      <a routerLink="/home">Retour à la page d'accueil</a>
    </div>

</main>