<main>

    <div class="title-body connexion" id="connexion" *ngIf="keyWord == LOG_IN_KEYWORD">
        <h2 class="h2_user">CONNEXION</h2>
    </div>
    <div class="title-body inscription" id="inscription" *ngIf="keyWord == SIGN_UP_KEYWORD">
        <h2 class="h2_user">INSCRIPTION</h2>
    </div>

    <div>
        <div class="panel panel-default">
            <div class="panel-body">
    
                <p class="text-center text-muted" *ngIf="keyWord == LOG_IN_KEYWORD">Si vous n'avez pas de compte, <a routerLink="/inscription">vous pouvez vous inscrire ici !</a></p>
                <p class="text-center text-muted" *ngIf="keyWord == SIGN_UP_KEYWORD">Si vous avez déjà un compte, <a routerLink="/connexion">connectez-vous ici !</a></p>
        
                <hr>

                <form [formGroup]="Form" class="form-signup" (ngSubmit)="registration()" *ngIf="keyWord == SIGN_UP_KEYWORD">
                    <div class="top-margin">
                      <input type="hidden" formControlName="id" />
                      <label>Prénom <span class="text-danger">*</span></label>
                      <input type="text" id="field-firstname" class="form-control" formControlName="firstname" placeholder="Votre prénom"/>
                      <div *ngIf="submitted && Form.controls.firstname.errors" class="text-danger">
                        <div *ngIf="Form.controls.firstname.errors.required">
                          Merci de renseigner votre prénom
                        </div>
                      </div>
                    </div>
        
                    <div class="top-margin">
                      <label>Nom <span class="text-danger">*</span></label>
                      <input type="text" id="field-name" class="form-control" formControlName="lastname" placeholder="Votre nom"/>
                      <div *ngIf="submitted && Form.controls.lastname.errors" class="text-danger">
                        <div *ngIf="Form.controls.lastname.errors.required">
                          Merci de renseigner votre nom de famille
                        </div>
                      </div>
                    </div>
        
                    <div class="top-margin">
                      <label>Email <span class="text-danger">*</span></label>
                      <input type="text" id="field-email" class="form-control" formControlName="mail" placeholder="exemple@exemple.com"/>
                      <div *ngIf="submitted && Form.controls.mail.errors" class="text-danger">
                        <div *ngIf="Form.controls.mail.errors.required">
                          Merci de renseigner votre adresse mail
                        </div>
                        <div *ngIf="Form.controls.mail.invalid && !Form.controls.mail.errors.required" id="invalidMail">
                          Veuillez saisir une adresse mail valide
                        </div>
                      </div>
                    </div>
        
                    <div class="row top-margin">
                      <div class="col-sm-6">
                        <label>Mot de passe <span class="text-danger">*</span></label>
                        <input type="password" id="field-password" class="form-control" formControlName="password" placeholder="mot de passe"/>
                        <div *ngIf="submitted && Form.controls.password.errors" class="text-danger">
                          <div *ngIf="Form.controls.password.errors.required">
                            Merci d'entrer un mot de passe
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label>Confirmer le mot de passe <span class="text-danger">*</span></label>
                        <input type="password" id="field-confirmpassword" class="form-control" formControlName="confirmpassword" placeholder="mot de passe"/>
                        <div *ngIf="submitted && Form.controls.confirmpassword.errors" class="text-danger">
                          <div *ngIf="Form.controls.confirmpassword.errors.required">
                            Merci de confirmer le mot de passe
                          </div>
                        </div>
                      </div>
                      <div *ngIf="submitted && matchingError" id="passwordMatchingError" class="text-danger text-center w-100">
                        Les deux mots de passe ne correspondent pas !
                      </div>
                      <div *ngIf="submitted && lengthError" id="passwordLengthError" class="text-danger text-center w-100">
                        Le mot de passe doit comporter au moins 8 charactères !
                      </div>
                    </div>
        
                    <div *ngIf="submitted && submitError" class="text-danger text-center w-100">
                      L'email existe déjà ! Si vous avez oublié votre mot de passe, merci de suivre ce lien.
                    </div>
        
                    <hr />
        
                    <div class="row submit">
                      <div class="form-group col-lg-12">
                        <div class="form-check">
        
                          <input class="form-check-input" type="checkbox" id="gridCheck" name="check" formControlName="check" required="true">
                            <label class="form-check-label" for="gridCheck" style="margin-top: 0rem !important;">
                              En cochant cette case, je reconnais avoir pris connaissance des <a routerLink='/mentions-legales' style="border-bottom: 1px dashed var(--primary);">Conditions Générales d'Utilisation du site</a> ainsi que de sa <a routerLink='/mentions-legales' style="border-bottom: 1px dashed var(--primary);">Politique de Confidentialité</a> et je les accepte.
                            </label>
                            <div *ngIf="submitted && Form.controls.check.errors" class="text-danger">
                              <div *ngIf="Form.controls.check.errors.required" id="invalidGridCheck" >
                                Vous devez accepter les Conditions Générales d'Utilisation du site pour pouvoir vous inscrire.
                              </div>
                            </div>
        
                        </div>
                      </div>
        
                      <div class="col-lg-12">
                        <button class="btn btn-primary" type="submit">Je m'inscris ! </button>
                      </div>
                    </div>
                </form>

                <form [formGroup]="Form" class="form-login" (ngSubmit)="connexion()" *ngIf="keyWord == LOG_IN_KEYWORD">
                    <div class="top-margin">
                      <input type="hidden" formControlName="id" />
                      <label>Email <span class="text-danger">*</span></label>
                      <input type="text" id="field-email" class="form-control" formControlName="mail" placeholder="exemple@exemple.com"/>
                      <div *ngIf="submitted && Form.controls.mail.errors" class="text-danger">
                        <div *ngIf="Form.controls.mail.errors.required">
                          Merci de renseigner votre adresse mail
                        </div>
                        <div *ngIf="Form.controls.mail.invalid && !Form.controls.mail.errors.required" id="invalidMail">
                          Veuillez saisir une adresse mail valide
                        </div>
                      </div>
                    </div>
                    <div class="top-margin">
                      <label>Mot de passe <span class="text-danger">*</span></label>
                      <input type="password" id="field-password" class="form-control" formControlName="password" placeholder="mot de passe"/>
                      <div *ngIf="submitted && Form.controls.password.errors" class="text-danger">
                        <div *ngIf="Form.controls.password.errors.required">
                          Merci de renseigner votre mot de passe
                        </div>
                      </div>
                    </div>
          
                    <div *ngIf="submitted && submitError" id="badUserData" class="text-danger text-center w-100">
                      Email et/ou mot de passe incorrect(s)
                    </div>
          
                    <hr>
          
                    <div class="row submit">
                      <div class="col-lg">
                        <button class="btn btn-primary" type="submit">Se connecter</button>
                      </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</main>