<div class="header" *ngIf="!roleAdmin">

  <!-- First line : connexion & basket -->

  <div class="first-line">

    <div ngbDropdown class="d-inline-block">
      <!-- Affichage pour l'utilisateur non connecté -->
      <div *ngIf="roleNotLogged">
        <div class="connexion" id="connexion-dropdown" ngbDropdownToggle>Connexion / Inscription</div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem class="dropdown-item" id="connexion-link" [routerLink]="['connexion']"
            [routerLinkActive]="['active']">Me connecter</button>
          <button ngbDropdownItem class="dropdown-item" id="inscription-link" [routerLink]="['inscription']"
            [routerLinkActive]="['active']">M'inscrire</button>
        </div>
      </div>
      <!-- Affichage pour l'utilisateur connecté ou l'admin -->
      <div *ngIf="roleUser">
        <div class="connexion" id="connexion-dropdown" ngbDropdownToggle style="font-weight: bold;">Bonjour {{ user?.firstname | titlecase }}</div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem class="dropdown-item" id="account-link" [routerLink]="['mon-compte']"
            [routerLinkActive]="['active']">Mon compte</button>
          <button ngbDropdownItem class="dropdown-item" id="deconnexion-link" (click)="logout()">Me déconnecter</button>
        </div>
      </div>
    </div>
    <!-- Affichage pour l'utilisateur connecté ou non -->
    <div class="panier" placement="bottom" ngbTooltip="Voir mon panier">
      <a routerLink="/boutique/panier" id="panier-link">
        <i class="fas fa-shopping-basket"></i>
        <span class="number-of-products"> ({{ this.shoppingCartLength }})</span>
      </a>
    </div>
  </div>

  <!-- Logo -->

  <div class="logo-header" style="display: flex;">
    <h1 style="margin: auto;">
      <img [src]="urlLogoHeader" width="200rem" title="Kira Bijoux" alt="Kira Bijoux">
    </h1>
  </div>

</div>