<div id="alert-modal-header" class="modal-header">
    <h4 class="modal-title modal-admin" style="color: var(--primary); font-weight: 600" id="edit-heading">
        {{ product.name }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
    (click)="cancel()">x
    </button>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-12" style="color: var(--primary)">{{ product.item.subtitle }}</div>
  </div>

  <div class="row" style="margin-top: 1rem;">

    <div class="col-6" id="pictures-item">
      <p style="font-weight: 500;">Photos :</p>
      <div id="carouselControls" class="carousel slide" data-ride="carousel" *ngIf="productPictures.length > 0">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let picture of productPictures; let i = index; let isFirst = first" [ngClass]="{active:isFirst}" >
            <img src="{{ picture?.path }}{{ picture?.name}}" class="d-block w-100 carousel-pic" alt="{{ picture?.name }}"/>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col-6" id="pictures-infos">
      <p style="font-weight: 500;">Infos :</p>
      <ul style="list-style: none; padding: 0;">
        <li style="text-align: justify;"><span style="font-weight: 100; line-height: 2rem;">Nom :</span> {{ product.name }}</li>
        <li style="text-align: justify;"><span style="font-weight: 100; line-height: 2rem;">Type :</span> {{ product.type }}</li>
        <li style="text-align: justify;"><span style="font-weight: 100; line-height: 2rem;">Matériaux :</span> {{ product.materials }}</li>
        <li style="text-align: justify;"><span style="font-weight: 100; line-height: 2rem;">Sous-titre :</span> {{ product.item.subtitle }}</li>
        <li style="text-align: justify;"><span style="font-weight: 100; line-height: 2rem;">Description :</span> {{ product.item.description }}</li>
        <li style="text-align: justify;"><span style="font-weight: 100; line-height: 2rem;">Prix :</span> {{ product.price }}</li>
      </ul>
    </div>

  </div>

</div>

<div class="modal-footer" id="modal-footer">
    <button id="close" type="close" class="btn btn-fourth col-3" data-dismiss="modal" (click)="cancel()">
      <i class="fa fa-ban"></i><span> Fermer</span>
    </button>
  </div>