<div id="alert-modal-header" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
    (click)="cancel()">x
    </button>
</div>

<div class="modal-body">

    <!-- UPDATE FORM -->

    <form [formGroup]="Form" novalidate (ngSubmit)="save()">

      <h4 *ngIf="idCard === 'idInfo'" class="modal-title" style="color: var(--primary)" id="edit-heading">
          Modifier mes informations</h4>
      <h4 *ngIf="idCard === 'idAdress'" class="modal-title" style="color: var(--primary)" id="edit-heading">
          Modifier mon adresse</h4>
      <h4 *ngIf="idCard === 'idAddAdress'" class="modal-title" style="color: var(--primary)" id="edit-heading">
          Ajouter une adresse</h4>
      <h4 *ngIf="idCard === 'idSecu'" class="modal-title" style="color: var(--primary)" id="edit-heading">
          Modifier ma sécurité et mes options</h4>
      <hr />

      <!-- INFOS -->
      <div *ngIf="idCard === 'idInfo' && user" class="my_infos">
        <div class="form-group">
          <label class="form-control-label" for="field_firstname">Prénom</label>
          <input type="text" class="form-control" name="firstname" id="field_firstname"
          formControlName="firstname"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastname">Nom</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
            formControlName="lastname"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_mail">Mail</label>
            <input type="text" class="form-control" name="mail" id="field_mail"
            formControlName="mail"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Téléphone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
            formControlName="phone"/>
        </div>
      </div>

      <!-- ADRESSE -->
      <div *ngIf="idCard === 'idAdress'">
          <div id="alert-modal-adresse" class="modal-adresse">
            <h4 class="modal-title" style="color: var(--primary); margin-left: auto; margin-right: auto" id="edit-heading">
              {{ adress?.name }}</h4>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_name">Nom de l'adresse</label>
            <input class="form-control" type="text" formControlName="name"/>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_recipient">Destinataire</label>
            <input class="form-control" type="text" formControlName="recipient"/>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_first_line">N° et voie</label>
            <input class="form-control" type="text" formControlName="first_line"/>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_second_line">Complément d'adresse</label>
            <input class="form-control" type="text" formControlName="second_line"/>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_post_code">Code postal</label>
            <input class="form-control" type="text" formControlName="post_code"/>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_town">Ville</label>
            <input class="form-control" type="text" formControlName="town"/>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_country">Pays</label>
            <input class="form-control" type="text" formControlName="country"/>
          </div>
          <p *ngIf="idCard === 'idAdress'" style="text-align: center;">
            <button type="button" class="btn btn-fourth col-3" (click)="deleteAdress(Form, content)" style="margin-right: 1rem;">
              <i class="fa fa-trash-alt"></i> Supprimer</button>
          </p>

        <div class="alert alert-success" id="alert-success" role="alert" *ngIf="updateOk">
          Adresse mise à jour !
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="alert alert-success" id="alert-success" role="alert" *ngIf="deleteOk">
          Adresse supprimée !
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <!-- ADD ADRESSE -->
      <div *ngIf="idCard === 'idAddAdress'">
        <div id="alert-modal-adresse" class="modal-adresse">
          <h4 class="modal-title" style="color: var(--primary); margin-left: auto; margin-right: auto" id="edit-heading">
            Nouvelle adresse</h4>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_name">Nom de l'adresse</label>
          <input class="form-control" type="text" formControlName="name"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_recipient">Destinataire</label>
          <input class="form-control" type="text" formControlName="recipient"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_first_line">N° et voie</label>
          <input class="form-control" type="text" formControlName="first_line"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_second_line">Complément d'adresse</label>
          <input class="form-control" type="text" formControlName="second_line"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_post_code">Code postal</label>
          <input class="form-control" type="text" formControlName="post_code"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_town">Ville</label>
          <input class="form-control" type="text" formControlName="town"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_country">Pays</label>
          <input class="form-control" type="text" formControlName="country"/>
        </div>
        <p *ngIf="idCard === 'idAddAdress'" style="text-align: center;">
          <button type="button" class="btn btn-primary-ligth col-3" (click)="saveAdress(Form)">
            <i class="fa fa-save"></i> Sauvegarder</button>
        </p>
        <div class="alert alert-success" id="alert-success" role="alert" *ngIf="addOk">
        Adresse ajoutée !
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

      <!-- PASSWORD -->
      <div *ngIf="idCard === 'idSecu'">
        <div class="form-group">
          <label>Nouveau mot de passe <span class="text-danger">*</span></label>
          <input type="password" class="form-control" name="newPassword" id="field_newPassword" placeholder="Nouveau mot de passe"
          formControlName="newPassword"/>
          <div *ngIf="submitted && Form.controls.newPassword.errors" class="text-danger">
            <div *ngIf="Form.controls.newPassword.errors?.required">
              Merci d'indiquer un nouveau mot de passe
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_confirmPassword">Confirmer le nouveau mot de passe</label>
          <input type="password" class="form-control" name="confirmPassword" id="field_confirmPassword" placeholder="Confirmer nouveau mot de passe"
          formControlName="confirmPassword"/>
          <div *ngIf="submitted && Form.controls.confirmPassword.errors" class="text-danger">
            <div *ngIf="Form.controls.confirmPassword.errors?.required">
              Merci de confirmer le mot de passe
            </div>
          </div>
        </div>

        <div *ngIf="submitted && matchingErrorNewPassword" id="passwordMatchingError" class="text-danger text-center w-100">
          Les deux mots de passe ne correspondent pas !
        </div>
      </div>

      <br/>

      <!-- Modal Footer -->
      <div class="modal-footer" id="modal-footer">
        <button id="close" type="close" class="btn btn-fourth col-3" data-dismiss="modal" (click)="cancel()">
          <i class="fa fa-ban"></i><span> Fermer</span>
        </button>
        <button id="save" type="submit" class="btn btn-primary col-3" data-dismiss="modal" *ngIf="idCard !== 'idAddAdress'">
            <i class="fa fa-save"></i><span> Valider</span>
        </button>
      </div>

    </form>
</div>

<!-- Confirm delete adress modal -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Supprimer l'adresse</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir supprimer cette adresse ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-fourth col-3" (click)="modal.close('validate')"><i class="fa fa-trash-alt"></i> Supprimer</button>
  </div>
</ng-template>
