<div id="alert-modal-header" class="modal-header">
    <h4 class="modal-title modal-admin" style="color: var(--primary); font-weight: 600" id="edit-heading" *ngIf="product !== 'addArticle'">
        {{ product.name }}</h4>
        <h4 class="modal-title modal-admin" style="color: var(--primary); font-weight: 600" id="edit-heading" *ngIf="product === 'addArticle'">
         Ajouter un article</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
    (click)="cancel()">x
    </button>
</div>

<div class="modal-body">
  <form [formGroup]="Form" novalidate (ngSubmit)="save()" *ngIf="allMaterials && item">

    <div class="row" *ngIf="product !== 'addArticle'">
      <div class="col-12" style="color: var(--primary)">Modifier les informations du bijou "{{ product.name }}"</div>
    </div>
    <div class="row" *ngIf="product === 'addArticle'">
      <div class="col-12" style="color: var(--primary)">Ajouter un nouveau bijou !</div>
    </div>
    <hr />

    <div>
        <div class="form-group">
          <label class="form-control-label" for="field_name">Nom :</label>
          <input class="form-control" type="text" formControlName="name" placeholder="Nom du bijou"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_type">Type :</label><br/>
          <div class="form-check form-check-inline custom-checkbox" *ngFor="let type of allTypes;" (change)="changeType($event)">
            <input class="form-check-input" type="radio" id="{{type.name}}" value="{{type.name}}" formControlName="type">
            <label class="form-check-label" for="type">{{ type.name }}</label>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_materials">Matériaux : 
            <br><span style="color: var(--fourth); font-size: 0.9rem; font-weight: 300;">{{ product.materials }}</span></label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="sampleDropdownMenu" data-toggle="dropdown" style="min-width: 100%; border-color: var(--primary); font-size: 0.8rem;"
            >Choisir dans la liste</button>
            <div formArrayName="materials" class="dropdown-menu" style="min-width: 100%; padding-left: 1rem; padding-right: 1rem;">
              <div class="form-check custom-checkbox" *ngFor="let mat of materialsFormArray().controls; let i = index" (change)="changeMaterials($event)">
                <div [formGroupName]="i">
                  <input class="form-check-input" type="checkbox" id="{{ mat.controls.material.value.name }}" value="mat.controls.checked.value" formControlName="checked">
                  <label class="form-check-label" for="mat">{{ mat.controls.material.value.name }}</label>
                </div>
              </div>
              <hr/>
              <div style="height: 3rem; cursor: pointer; background-color: var(--primary); color: var(--secondary); padding-top: 0.6rem; padding-left: 0.5rem;" (click)="addMaterial(addMat)">
                <div>
                  <i class="fa fa-plus-circle"></i><span> Ajouter un matériau</span>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="alert alert-success alert-dismissible fade show col col-12" role="alert" *ngIf="createMaterialSuccess">
            <span>Le matériau a bien été créé !</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closAlert()">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_subtitle">Sous-titre :</label>
          <input class="form-control" type="text" formControlName="subtitle" placeholder="Le bijou en 3 mots..."/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_description">Description :</label>
          <textarea class="form-control" type="text" formControlName="description" placeholder="Description du bijou ! Plus de détails que le sous-titre, des idées d'associations..."></textarea>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_length">Longueur :</label>
          <input class="form-control" type="text" formControlName="length" placeholder="35 cm">
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_price">Prix :</label>
          <input class="form-control" type="number" step="0.01" formControlName="price"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_stock">Stock :</label>
          <input class="form-control" type="number" formControlName="stock"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_tva">TVA :</label>
          <input class="form-control" type="number" formControlName="tva"/>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="field_visibility">Visibilité :</label><br/>
          <div class="form-check form-check-inline custom-checkbox" (change)="changeType($event)">
            <input class="form-check-input" type="radio" id="true" [value]="true" formControlName="visibility" [(ngModel)]="item.visibility">
            <label class="form-check-label" for="visibility" style="margin-right: 1rem;">true</label>
            <input class="form-check-input" type="radio" id="false" [value]="false" formControlName="visibility" [(ngModel)]="item.visibility">
            <label class="form-check-label" for="visibility">false</label>
          </div>
        </div>
        <p style="text-align: center;" *ngIf="product !== 'addArticle'">
          <button type="button" class="btn btn-fourth col-3 delete-btn" style="margin-right: 1rem;" (click)="deleteItem(content)">
            <i class="fa fa-trash-alt"></i> Supprimer l'article</button>
        </p>

    </div>

    <br/>

    <!-- Modal Footer -->
    <div class="modal-footer" id="modal-footer">
      <button id="close" type="close" class="btn btn-fourth col-3" data-dismiss="modal" (click)="cancel()">
        <i class="fa fa-ban"></i><span> Fermer</span>
      </button>
      <button id="save" type="submit" class="btn btn-primary col-6" data-dismiss="modal" *ngIf="product !== 'addArticle'">
          <i class="fa fa-save"></i><span> Valider les modifications</span>
      </button>
      <button id="save" type="submit" class="btn btn-primary col-6" data-dismiss="modal" *ngIf="product === 'addArticle'">
        <i class="fa fa-save"></i><span> Ajouter l'article !</span>
    </button>
    </div>

  </form>

</div>

<!-- Add material modal -->

<ng-template #addMat let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter un matériau</h4>
    <button type="button" id="closeAddMat" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="MatForm" novalidate (ngSubmit)="saveMaterial()">

      <div class="row">
      <div class="col-12" style="color: var(--primary)">Renseignez le nom et le type du nouveau matériau</div>
      </div>
      <hr />

      <div>
          <div class="form-group">
            <label class="form-control-label" for="field_name">Nom :</label>
            <input class="form-control" type="text" formControlName="name"/>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="field_type">Type :</label><br/>
            <div class="form-check form-check-inline custom-checkbox" (change)="changeType($event)">
              <input class="form-check-input" type="radio" id="Métaux" value="Métaux" formControlName="type">
              <label class="form-check-label" for="type">Métaux</label>
            </div>
            <div class="form-check form-check-inline custom-checkbox" (change)="changeType($event)">
              <input class="form-check-input" type="radio" id="Pierres fines" value="Pierres fines" formControlName="type">
              <label class="form-check-label" for="type">Pierres fines</label>
            </div>
          </div>
      </div>

      <br/>

      <!-- Modal Footer -->
      <div class="modal-footer" id="modal-footer">
        <button id="save" type="submit" class="btn btn-primary col-6" data-dismiss="modal">
            <i class="fa fa-save"></i><span> Ajouter le matériau</span>
        </button>
      </div>

    </form>
  </div>

</ng-template>

<!-- Confirm delete item modal -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Supprimer l'article {{ product.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir supprimer cet article ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-fourth col-3" (click)="modal.close('validate')"><i class="fa fa-trash-alt"></i> Supprimer</button>
  </div>
</ng-template>
