<main>

    <div id="conditions-retour">

        <div class="title-body">
            <h2 class="h2_user">EFFECTUER UN RETOUR</h2>
        </div>

        <div class="body">

            <div>
                <h3>Chez Kira, la politique de retour dure 30 jours.</h3>
                <p>Si vous n'êtes pas satisfait de votre achat, vous avez 30 jours à compter de la réception de votre commande pour retourner votre produit.
                    Si 30 jours se sont écoulés depuis votre achat, nous ne pouvons malheureusement pas vous offrir un remboursement ou un échange.
                    <br><br>
                    Pour pouvoir bénéficier d'un retour, votre article doit être inutilisé et dans le même état où vous l'avez reçu. Il doit être également dans l'emballage d'origine.
                    <br><br>
                    Certains types de produits ne peuvent pas être retournés, tels que les cartes cadeaux ou les articles soldés.
                    Pour effectuer un retour, vous devez nous présenter un reçu ou une preuve d'achat.
                    </p>
            </div>

            <div>
                <h4>- Remboursements -</h4>
                <p>Une fois que nous aurons reçu et inspecté l'article retourné, nous vous enverrons un e-mail pour vous confirmer que nous l'avons bien reçu. Nous vous informerons également de notre décision quant à l'approbation ou au rejet de votre demande de remboursement.
                    <br><br>
                    Si votre demande est approuvée, alors votre remboursement sera traité, et un crédit sera automatiquement appliqué à votre carte de crédit ou à votre méthode originale de paiement, dans un délai d'un certain nombre de jours.
                </p>
            </div>

            <div>
                <h4>- Remboursements en retard ou manquants -</h4>
                <p>Si vous n'avez pas encore reçu votre remboursement, veuillez d'abord consulter votre compte bancaire à nouveau.
                    Ensuite, contactez l'entité émettrice de votre carte de crédit, car il pourrait y avoir un délai avant que votre remboursement ne soit officiellement affiché.
                    Ensuite, contactez votre banque. Il y a souvent un délai de traitement nécessaire avant qu'un remboursement ne soit affiché.
                    <br><br>
                    Si après avoir effectué toutes ces étapes, vous n'avez toujours pas reçu votre remboursement, veuillez s'il vous plait nous contacter via l'adresse mail <a routerLink="/contact">contact@kira-bijoux.com</a>.
                </p>
            </div>

            <div>
                <h4>- Articles soldés -</h4>
                <p>Seuls les articles à prix courant peuvent être remboursés. Malheureusement, les articles soldés ne sont pas remboursables.
                </p>
            </div>

            <div>
                <h4>- Échanges -</h4>
                <p>Nous remplaçons un article seulement s'il est défectueux ou endommagé, sans jamais avoir été porté ou utilisé. 
                    Si dans ce cas vous souhaitez l'échanger contre le même article, envoyez-nous un e-mail à <a routerLink="/contact">contact@kira-bijoux.com</a> et envoyez-nous votre article à : 
                    <br>
                    Kira, 146 route de Corbeil, Bât.5 - Apt 3007, 91180, St-Germain-lès-Arpajon, France.
                </p>
            </div>

            <div>
                <h4>- Cadeaux -</h4>
                <p>Si l'article retourné était identifié comme un cadeau lors de l'achat et s'il vous a été envoyé directement, vous recevrez un crédit-cadeau d'une valeur égale à celle de votre retour. Une fois que nous aurons reçu l'article retourné, un chèque-cadeau vous sera envoyé par mail et crédité directement sur votre compte, si vous en avez un.
                    <br><br>
                    Si l'article n'a pas été identifié comme un cadeau lors de l'achat, ou si le donateur du cadeau a préféré recevoir d'abord l'article pour vous l'offrir plus tard, nous enverrons un remboursement au donateur du cadeau et il saura que vous avez retourné l'article.                    
                </p>
            </div>

            <div>
                <h4>- Expédition -</h4>
                <p>Pour retourner un produit, vous devez l'envoyer par la poste à l'adresse : 
                    <br>
                    Kira, 146 route de Corbeil, Bât.5 - Apt 3007, 91180, St-Germain-lès-Arpajon, France.
                    <br><br>
                    Il vous incombera de payer vos propres frais d'expédition pour retourner votre article. Les coûts d'expédition ne sont pas remboursables. Si vous recevez un remboursement, il ne comprendra pas vos frais de retour.
                    <br><br>
                    En fonction de l'endroit où vous vivez, le délai nécessaire pour recevoir votre produit échangé peut varier.
                    <br><br>
                    Si vous expédiez un article d'une valeur supérieure à 75 €, vous devriez envisager d'utiliser un service de livraison qui vous permet de suivre l'envoi ou de souscrire à une assurance de livraison. Nous ne garantissons pas que nous recevrons l'article que vous nous retournez.
                </p>
            </div>

        </div>

    </div>

    <br>

    <hr>

    <div id="footer">
        <a routerLink="/home">Retour à la page d'accueil</a>
    </div>

</main>