<main>

    <div id="entretien-bijoux">

        <div class="title-body">
            <h2 class="h2_user">Entretenir ses bijoux</h2>
        </div>

        <div class="body">

            <div>Tous les bijoux de la marque Kira sont faits en argent 925, vermeil (argent 925 plaqué or 3 microns 18k) ou en laiton plaqué or 3 microns 18k. 
                <br><br>Ces matières fines s'oxydent avec le temps, au contact de l'air, de la peau, de l'humidité. 
                <br>Pour nettoyer vos bijoux et leur faire retrouver leur éclat et leur couleur d'origine, il vous suffit de les frotter doucement avec une brosse à dent à poils souple et du dentifrice blanc. 
                <br><br>Après rinçage, vos bijoux seront comme neufs ! D'autre part, n'hésitez pas à porter vos bijoux Kira sous la douche. L'eau claire et le savon leur évitera de s'oxyder trop rapidement.
                <br><br>Tous les bijoux sont sans nickel, sans plomb et sans cadmium.
                </div>
        
        </div>

    </div>

</main>