<main>
  
  <div>
    <div id="home">
            <!-- <p>♥ Des bijoux fins en argent 925 et pierres naturelles. ♥ </p>
              <p> Livraison gratuite à partir de 90 € !</p> -->
              
              <!-- BARRE INDICATEUR-->
              <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>

                <!-- LES IMAGES-->
                <div class="carousel-inner">
                 <div class="carousel-item" [ngClass]="{'active': i == 0}" *ngFor="let picture of carouselPictures; let i = index">
                  <img class="d-block w-100" src="assets/img/visuels/{{ picture.name }}" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <a routerLink="/boutique/{{ picture.url }}">
                      <button type="button" class="btn btn-primary">Découvrir</button>
                    </a>
                  </div>
                  </div>
                </div>

                <!-- BOUTON SUIVANT ET PRECEDENT-->
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Précédent </span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Suivant </span>
                </a>
              </div>

              <!-- Derniere collection -->

                


                <!-- NOS SERVICES-->

              <br> <h2 class="h2_user">Nos services</h2>

              <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="assets/img/visuels/livraison.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Livraison</h5>
                    <p class="card-text">Livraison gratuite à partir de <br> 90 €</p>
                    <a routerLink="/livraison" class="btn btn-primary button">Découvrir</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/img/visuels/qualité.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Marque</h5>
                    <p class="card-text">Des bijoux fait main, fins en argent 925 et pierres naturelles.</p>
                    <a routerLink="/a-propos/la-marque" class="btn btn-primary button">Découvrir</a>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="assets/img/visuels/retour.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Retour</h5>
                    <p class="card-text">Vous avez 30 jours à compter de la réception de votre commande pour retourner votre produit.</p>
                    <a routerLink="/conditions-retour" class="btn btn-primary button">Découvrir</a>
                  </div>
                </div>
              </div>


              </div>
            </div>
            
          </main>